*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgba(20, 79, 206, 0.377), rgba(20, 79, 206, 0.377 )), url('https://pages.trip.com/images/home-background/h5-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header{
    width: 100%;
    padding: 10px;
}
.header{
    width: 95%;
    /* background-color: red;
    height: 20px; */
    margin: auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.header .top-head{
    width: 100%;
    display: flex;
    height: 40px;
   
}
.header .top-head .logo{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 30px;
    & img{
        height: 80%;
        
    }
    & input{
        height: 30px;
        padding: 5px 20px;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    & i{
        background-color: #3109f6;
        position: absolute;
        left: 384px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
}
.header .top-head .link{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;
   & ul{
    height: 100%;
    list-style: none;
    display: flex;

    gap: 30px; 
    & li{
        height: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        & a{
            text-decoration: none;
            color: #fff;
            & img{
                width: 30px;
                height: 20px;
            }
        }
    }
    & li:nth-child(6){
        background-color: rgba(226, 226, 226, 0.379);
        border-radius: 5px;
    }
    & li:nth-child(6):hover{
        background-color: #fff;
        & a{
            color: blue;
        }
    }
    & li:nth-child(7){
        background-color: #fff;
        border-radius: 5px;
        & a{
            color: #0b1653;
        }
    }
    & li:nth-child(7):hover{
        background-color: #fff;
        & a{
            color: blue;
        }
    }
    & li:hover{
        background-color:  rgba(226, 226, 226, 0.379);
        border-radius: 5px;
    }
   }
}
.header .bottom-head{
    width: 100%;
    /* background-color: red; */
    & ul{
        list-style: none;
        display: flex;
        gap: 35px;
        height: 100%;
        & li a{
            text-decoration: none;
            color: #fff;
            opacity: 0.8;
            font-size: 17px;
            position: relative;
        }
        & li a::before{
            content: '';
            width: 0%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            top: 20px;
            transition:ease-in-out 0.5s;
        }
        & li:hover a::before{
            width: 100%;
            
        }
    }
}
.news{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 300px;
    /* background-color: red; */
    & .title{
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        & h1{
            color: #fff;
        }
        & .P{
            display: flex;
            gap: 10px;
            position: relative;
            & .payment p{
                color: #fff;
                font-size: 17px;
            }
          
            & .des{
                color: #333;
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
                background-color: #fff;
                padding: 10px 25px 25px 20px;
                border-radius: 5px;
                position: absolute;
                top: -50px;
                left: -180px;
                display: none;
                font-size: 14px;
            }
            & .support{
                position: relative;
                & p{
                    color: #fff;
                    font-size: 17px;
                   
                }
                & .sp-des{
                    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
                    background-color: #fff;
                    padding: 10px 25px 25px 20px;
                    border-radius: 5px;
                    position: absolute;
                    top: -50px;
                    left: -150px;
                    display: none;
                    font-size: 14px;
                }
            }
        }
        & .P .payment:hover .des{
            display: block;
        }
        & .P .support:hover .sp-des{
            display: block;
        }

        
    }

}
.news .information{
    width: 100%;
    padding: 10px 30px;
    background-color: #fff;
    height: 140px;
    margin-top: 70px;
    border-radius: 20px;
    position: relative;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.news .information .option{
    width: 80%;
    background-color: rgba(15, 41, 77, 0.936);
    border-radius: 30px;
    padding: 5px;
    position: absolute;
    left: 10%;
    top: -20px;
    /* height: 80px; */
    & ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 20px;
        & li{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px 0;
            & a{
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                font-weight: bold;
                & i{
                    margin-right: 5px;
                }
            }
        }
        & li:nth-child(1){
            background-color: #fff;
            border-radius: 20px;
            & a{
                color: #333;
            }
        }
        
    }
}
.news .box{
    border: 2px solid rgba(128, 128, 128, 0.86);
    width: 100%;
    
    height: 50px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    & input{
        margin-top: 7px;
        border: none;
        outline: none;
        
    }
    & input:hover{
        border-bottom: 3px solid blue;
    }
}
.information .box:nth-child(5){
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    & button{
        height: 100%;
        width: 150px;
        background-color: #3264ff;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 10px;

    }
}
section{
    width: 100%;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
    margin-top: 50px;
    padding: 50px;
}
section .box-slide .slide{
    width: 80%;
    height: 200px;
    /* background-color: red; */
    margin: auto;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
    & .card{
        min-width: 32%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        & img{
            width: 100%;
            height: 100%;
            transition: ease-in-out 0.3s;
        }
        & img:hover{
            transform: scale(1.06);
        }
    }
    
    
}
section .box-slide{
    position: relative;
    & .box-left,.box-rigth{
        padding: 10px;
        background-color: #dfdfdf;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    & .box-left{
        position: absolute;
        top: 80px;
        left: 125px;
       
    }
    & .box-rigth{
        position: absolute;
        top: 80px;
        right: 125px;
       
    }
}
article{
    width: 80%;
    margin: auto;
    height: 500px;
    background-color:#FCF9F6;
    margin-top: 50px;
    padding: 30px 20px;
    border-radius: 15px;
    & h1{
        font-size: 28px;
        color: #0F294D;
    }
    & .button{
        margin-top: 20px;
        display: flex;
        gap: 15px;
         & button{
            border: none;
            padding: 8px 10px;
            background-color: #fff;
            color: #0F294D;
            border-radius: 3px;
            font-weight: bold;
         }
         & button:hover{
            background-color: #0F294D;
            color: #fff;
            transition: 0.3s;
         }
    }
    & .box-card{
        width: 100%;
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        & .card{
            width: 100%;
            height: 330px;
            /* background-color: red; */
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            & .image{
                width: 100%;
                height: 65%;
               overflow: hidden;
                & img{
                    width: 100%;
                    height: 100%;
                    transition: ease-in-out 0.2s;
                }
            }
            & .image:hover img{
                transform: scale(1.08);
            }
            & .title{
                padding: 15px;
                & p{
                    font-size: 16px;
                    color: #0F294D;
                    font-weight: bold;
                }
                & .icon{
                    margin-top: 10px;
                    & i{
                        font-size: 14px;
                        color: gold;
                    }
                }
                & span{
                    float: inline-end;
                }
            }
        }
    }
    
}
article:nth-child(3),article:nth-child(4){
    background-color:#F7FAFC;
}
footer{
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
    width: 100%;
    background-color: #f6f4f4;
    /* height: 200px; */
    margin-top: 50px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.footer{
    width: 80%;
    margin: auto;
    display: flex;
    height: 100%;
    /* background-color: red; */
    padding: 30px;
}
.footer .app{
    width: 25%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    & h5{
        margin-left: 40px;
        font-size: 20px;
    }
    & img{
        width: 120px;
    }
}
.footer .about{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    & h5{
        font-size: 20px;
        /* margin-left: -35px; */
    }
    & ul{
        list-style: none;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & li a{
            text-decoration: none;
            color: #0b1653;
            font-size: 16px;
        }
    }
}
.footer .contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    & h5{
        font-size: 20px;
    }
    & .icon{
        display: flex;
        gap: 15px;
        /* margin-left:100px ; */
        & i{
            font-size: 30px;
           
        }
    }
}

